<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.4//EN" "http://www.oasis-open.org/docbook/xml/4.4/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../general.ent">
  %general-entities;
]>

<sect1 id="ch08-server">
  <title>Processes on the main server</title>
  <?dbhtml filename="server.html"?>

  <sect2>
    <title>Scripts</title>

    <para>
      Useful scripts to automate the daily rendering of the books
      are located in <filename class="directory">/usr/local/bin</filename>.
    </para>
    
    <para>
      Following a list of scripts which might be of interest for
      rendering and installing the books on the main server:
    </para>
      
    <itemizedlist>
      <listitem>
        <para>build-lfs-edguide.sh</para>
        <para>(no parameters)</para>
        <para>This script creates the Editors Guide as a "one-pager"
        - meaning the whole guide is in one HTML page.</para>
        <para>The result can be viewed at <ulink url="&lfs-root;/lfs/LFS-EDITORS-GUIDE.html"/>.</para>
      </listitem>

      <listitem>
        <para>check-blfs-files.sh</para>
        <para>...</para>
      </listitem>

      <listitem>
        <para>render-blfs-book-systemd.sh</para>
        <para>...</para>
      </listitem>

      <listitem>
        <para>render-blfs-book.sh</para>
        <para>...</para>
      </listitem>

      <listitem>
        <para>render-lfs-book-dev.sh</para>
        <para>...</para>
      </listitem>

      <listitem>
        <para>render-lfs-book-systemd.sh</para>
        <para>...</para>
      </listitem>

      <listitem>
        <para>update-hints.sh</para>
        <para>...</para>
      </listitem>

      <listitem>
        <para>update-patches.sh</para>
        <para>...</para>
      </listitem>

      <listitem>
        <para>update-website.sh</para>
        <para>...</para>
      </listitem>
    </itemizedlist>

  </sect2>
  
  <sect2>
    <title>Cronjobs</title>
    
    <para>
      There are several cronjobs (tasks executed automatically at a
      specific time). Those tasks automated the rendering of the books
      as well as the handling of files like patches, bootscripts and
      so on.
    </para>
      
    <para>
      Following a list of cronjobs defined on the main server:
    </para>
      
    <para>
      ...
    </para>

  </sect2>

</sect1>
